section {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  color: #ffffff;
}

li {
  list-style: none;
  text-align: center;
  padding-right: 30px;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  margin: 0 auto;
  max-width: calc(100% - 4em);
  width: 17.5em;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #8cd1a8;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent !important;
  color: #8cd1a8 !important;
  text-decoration: none;
}

.button {
  border-radius: 0;
  border: 0;
  box-shadow: inset 0 0 0 2px #dddddd;
  color: #61686b !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3em;
  letter-spacing: 0.05em;
  line-height: 3.15em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button.primary {
  background-color: #8cd1a8;
  border: 0;
  box-shadow: none;
  color: #ffffff !important;
}

.button.primary:hover {
  background-color: #9ed8b6;
}